<%- model_class = Month -%>
<div class="page-header">
  <dl class="dl-horizontal">
      <dt><strong>Please pick a month...  
      </strong></dt>
      <dd></dd>
  </dl>
</div>

  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @months.each do |month| %>
      <tr>
        <td><%= link_to month.id, month_path(month) %></td>
        <td><%= month.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

