<%- model_class = Month -%>
<div class="page-header">
  <h4>Please pick a month...</h4>
</div>

  <table class="table table-striped">
  <thead>
    <tr>
      <th>Month</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @months.each do |month| %>
      <tr>
        <td><%= link_to month.id, month_path(month) %></td>
        <td><%= month.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

