<%- model_class = Friend -%>
<div class="page-header">
	<h4>Please add someone <%=t, :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human %>  
    </h4>
</div>

<%= render :partial => 'form' %>
